@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #333;
  font-family: YakuHanJPs, "Noto Sans JP", sans-serif;
  font-size: 1rem;
}

body {
  -webkit-font-smoothing: antialiased;
}

body.show {
  overflow: hidden;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.mainVisual {
  width: 100%;
  height: 100vh;
  background-image: url(../images/mainVisual.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: -1;
  transition: all 0.25s ease-in-out 0s;
}

.mainVisual.show {
  transform: translateX(-100vw);
}

.headerInner {
  padding: 1rem 1rem 17px;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease-in-out 0s;
}
.headerInner h1 {
  z-index: 1;
}
.headerInner .mainTitle a {
  color: #333;
  transition: all 0.5s ease-in-out 0s;
}
.headerInner .mainTitle.show a {
  color: #fff;
}
.headerInner .nav_toggle {
  display: block;
  position: relative;
  width: 1.75rem;
  height: 1.5rem;
}
.headerInner .nav_toggle i {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333;
  position: absolute;
  transition: transform 0.5s, opacity 0.5s;
}
.headerInner .nav_toggle i:nth-child(1) {
  top: 0;
}
.headerInner .nav_toggle i:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}
.headerInner .nav_toggle i:nth-child(3) {
  bottom: 0;
}
.headerInner .nav_toggle.show i:nth-child(1) {
  transform: translateY(10px) rotate(-45deg);
  background-color: #fff;
  z-index: 1;
}
.headerInner .nav_toggle.show i:nth-child(2) {
  opacity: 0;
}
.headerInner .nav_toggle.show i:nth-child(3) {
  transform: translateY(-12px) rotate(45deg);
  background-color: #fff;
  z-index: 1;
}
.headerInner .nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #333;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  transform: translateX(100vw);
  transition: all 0.25s ease-in-out 0s;
}
.headerInner .nav .nav_menu_ul {
  margin-top: 80px;
  max-height: calc(100vh - 80px);
  border-top: 1px solid #fff;
}
.headerInner .nav .nav_menu_ul .nav_menu_li {
  border-bottom: 1px solid #fff;
  text-align: center;
}
.headerInner .nav .nav_menu_ul .nav_menu_li a {
  font-weight: bold;
  display: block;
  color: #fff;
  padding: 1rem;
}
.headerInner .nav.show {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.headerInner.transform {
  background-color: rgba(255, 255, 255, 0.9);
  background-origin: border-box;
  z-index: 2;
}

main {
  transition: all 0.25s ease-in-out 0s;
}

main.show {
  transform: translateX(-100vw);
}

.about {
  width: 100%;
  padding: 1rem;
  position: relative;
}
.about h2 {
  margin: 1rem auto;
  text-align: center;
  font-size: 2.5rem;
}
.about .direction_box h3 {
  text-align: center;
  font-size: 1.4rem;
  position: relative;
  height: 2rem;
}
.about .direction_box h3::after {
  content: "DIRECTION";
  font-size: 1.2rem;
  color: #a5a5a5;
  display: block;
}
.about .direction_box img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: auto;
  margin-top: 2.5rem;
  border: 5px solid skyblue;
  padding: 30px;
}
.about .direction_box p {
  margin-top: 1rem;
}
.about .design_box h3 {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.4rem;
  position: relative;
  height: 2rem;
}
.about .design_box h3::after {
  content: "DESIGN";
  font-size: 1.2rem;
  color: #a5a5a5;
  display: block;
}
.about .design_box img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: auto;
  margin-top: 2.5rem;
  border: 5px solid pink;
  padding: 30px;
}
.about .design_box p {
  margin-top: 1rem;
}
.about .coding_box h3 {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.4rem;
  position: relative;
  height: 2rem;
}
.about .coding_box h3::after {
  content: "CODING";
  font-size: 1.2rem;
  color: #a5a5a5;
  display: block;
}
.about .coding_box img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: auto;
  margin-top: 2.5rem;
  border: 5px solid darkseagreen;
  padding: 30px;
}
.about .coding_box p {
  margin-top: 1rem;
}

.works {
  width: 100%;
  padding: 1rem;
  position: relative;
}
.works h2 {
  margin: 1rem auto;
  text-align: center;
  font-size: 2.5rem;
}

.contact {
  width: 100%;
  padding: 1rem;
  position: relative;
}
.contact h2 {
  margin: 1rem auto;
  text-align: center;
  font-size: 2.5rem;
}
.contact form dl dd input {
  display: block;
  width: 100%;
}
.contact form .contact_otoiawase {
  width: 100%;
}
.contact form .send {
  font-size: 1rem;
  padding: 10px 50px;
  border: 1px solid #333;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  display: block;
  margin: 0 auto;
}

.footerInner {
  margin: 1rem auto;
  text-align: center;
}